.demo-container {
	width: 100%;
	min-width: 100%;
	max-width: 100%;

	height: 100vh;

	overflow: clip;
}

.demo-body {
	height: 100vh;
	
	width: 100%;
	min-width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.demo-item {
	position: absolute;
}

.demo-body video {
	object-fit: cover;
	
	height: 100vh;
	width: 100%;

	/* filter: blur(2px); */
}

.demo-filter {
	height: 100vh;
	width: 100%;

	backdrop-filter: blur(3px);
	color: #4263e8b9;
}

.demo-title {
	object-fit: cover;

	padding: 32px;

	min-width: 256px;
	width: 512px;
	max-width: 100vw;
	max-height: 80vh;
	
	background: #4263e8;
	box-shadow: 0 0 5px 5px #22222277;
	
	height: auto;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}