h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.section-title {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 32px;
}

.game-card {
    cursor: pointer;
    padding: 4;
    margin: 8;
    transition: padding 0.25s;
}

.game-card:hover {
    /* bootstrap uses !important, so we need it here too */
    padding: 2px !important; 
}

.game-card img {
    box-shadow: 0 2px 16px black;
}